.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: white; /* Change this to your preferred color */
}
.carousel-indicators .active {
    background-color: #007bff; /* Change this to your preferred active color */
}




.carousel-caption {
  text-align: left;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Optional: add a background for text readability */
  padding: 20px;
  border-radius: 8px;
}
